body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.search-container {
    margin-bottom: 20px;
}

#search-input {
    padding: 5px;
    border: none;
}
#limit-input {
    padding: 5px;
    border: none;
}

#search-button {
    padding: 5px 10px;
    background-color: #460000;
    color: #020202;
    border: none;
    cursor: pointer;
}

#results-container {
    margin-top: 20px;
}

.result {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #000000;
}

pre {
    background-color: #3a3a3a;
    padding: 10px;
    overflow-x: auto;
}

.no-results {
    color: #999;
}
